<p id="notice"><%= notice %></p>

<h1>Movie collection</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Year</th>
      <th>Director</th>
      <th>Lenght</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_movie_collections.each do |my_movie_collection| %>
      <tr>
        <td><%= my_movie_collection.title %></td>
        <td><%= my_movie_collection.rating %></td>
        <td><%= my_movie_collection.year %></td>
        <td><%= my_movie_collection.director %></td>
        <td><%= my_movie_collection.lenght %></td>
        <td><%= my_movie_collection.description %></td>
        <td><%= link_to 'Show', my_movie_collection, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_my_movie_collection_path(my_movie_collection), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', my_movie_collection, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Enter new movie', new_my_movie_collection_path, class:"btn btn-primary" %>
