<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4"><strong><%= @my_movie_collection.title %></strong></h1>
  <p class="lead">  <strong>Rating:</strong>
  <%= @my_movie_collection.rating %></p>
  <p class="lead">  <strong>Year:</strong>
  <%= @my_movie_collection.year %></p>
  <p class="lead">  <strong>Director:</strong>
  <%= @my_movie_collection.director %></p>
  <p class="lead">  <strong>Lenght:</strong>
  <%= @my_movie_collection.lenght %></p>
  <hr class="my-4">
  <p><strong>Description:</strong>
  </br>
  <%= @my_movie_collection.description %></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<%= link_to 'Edit', edit_my_movie_collection_path(@my_movie_collection), class:"btn btn-primary" %> |
<%= link_to 'Back', my_movie_collections_path, class:"btn btn-secondary" %>