<%= form_with(model: watchlist) do |form| %>
  <% if watchlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watchlist.errors.count, "error") %> prohibited this watchlist from being saved:</h2>

      <ul>
        <% watchlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :movie %>
    <%= form.text_field :movie,
      class:"form-control" %>
  </div>

<div class="text">
    <%= form.label :added %>
    <%= form.datetime_select :added,
      class:"form-control" %>
        <div class="actions">
        </br>
    <td><button class="btn btn-white"><%= form.submit %></button></td>    
</div>

<% end %>
