<p id="notice"><%= notice %></p>


<h1>Watchlists</h1>

<table class="table table-active">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchlists.each do |watchlist| %>
      <tr>
        <td><%= watchlist.movie %></td>
        <td><%= watchlist.added %></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Show', watchlist %></button></td>
        <td><button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_watchlist_path(watchlist) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', watchlist, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</table>
<br>

<button type="button" class="btn btn-light"><%= link_to 'Enter new movie to watchlist', new_watchlist_path %>
</button>