<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :user_id, id: :movie_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title,
      class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :year %>
    <%= form.date_select :year,
      class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :director %>
    <%= form.text_field :director,
      class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :lenght %>
    <%= form.text_field :lenght,
      class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating,
      class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description,
      class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :watched %>
    <%= form.check_box :watched %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
