<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @movie.title %></h1>
    <p class="lead"><p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Lenght:</strong>
  <%= @movie.lenght %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Watched:</strong>
  <%= @movie.watched %>
</p>

<div class="image">
    <div class="col">
  <strong></strong>
  <%= image_tag @movie.movie_image.variant(resize: "500x500"), class:"rounded", width:"500px", position:"absolute"; %>
    </div>
</div>
</br>
<td><%= link_to 'Edit', edit_movie_path(@movie), type:"button", class:"btn btn-success" %></td>
<td><%= link_to 'Back', movies_path, type:"button", class:"btn btn-primary" %></td>

  </div>
</div>
